data/
locale/
log/
mark/
package/
syslog.txt
syserr.txt
neterr.txt
usage.txt
VERSION.txt
PTS.txt
db_cache.exe
*.dmp
item_names.txt
item_proto.csv
mob_names.txt
mob_proto.csv
object_proto.csv
DB_VERSION.TXT