/Bin
game/src/quest/*.exe
*.pdb
*.ilk
*.idb
*.obj
*.log
*.lastbuildstate
*.tlog
*.user
*.dep
*.pch
*.bak
*.sbr
*.res
*.map
*.sdf
*.bsc
*.suo
*.opensdf
libpoly/*.lib
libsql/*.lib
libcrypt/*.lib
libsql/lib/*.lib
libcrypt/lib/*.lib
libthecore/lib/*.lib
liblua/*.lib
liblua/lib/*.lib
libgame/lib/*.lib
/game/src/OBJDIR
game/src/syslog.txt
*.filters
.vs/
x64/
